body {
  margin: 0 auto;
  font-family: "Libre Franklin", sans-serif;
}

.nav-hidden {
  display: none;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: lavender;
  z-index: 1;
}

nav a {
  text-decoration: none;
  background-color: #0c2644;
  padding: 1rem;
  border-radius: 20px;
  border: solid 2px #f68b20;
  color: #f68b20;
  font-size: 18px;
}

nav a:hover {
  color: #0c2644;
  background-color: #f68b20;
  border: solid 2px #0c2644;
}

nav img {
  height: 60px;
  width: auto;
}

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: lavender;
}

header img {
  width: 80vw;
}

header h1 {
  font-weight: bold;
}

.btn {
  background-color: #0c2644;
  border-radius: 15px;
  color: #e6e6fa;
  padding: 60px 80px;
  cursor: pointer;
  font-size: 30px;
}

.btn:hover {
  background-color: #f68b20;
}

section {
  height: 100vh;
  width: 100vw;
  display: block;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  margin: 5rem 5rem 0;
}

.text h1 {
  font-size: 14px;
}

.text h2 {
  font-size: 56px;
  width: 60%;
}

.features ul {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  list-style: none;
  padding: 0;
}

.features li {
  margin: 3rem;
  background-color: lavender;
  padding: 4rem 2rem 2rem;
  border-radius: 10px;
}

.features li:hover {
  border: 2px solid black;
}
